@import url('../../../../public/fonts/fredoka/fredoka.css');

h1 {
  font-size: var(--step-2);
}

h2 {
  font-size: var(--step-1);
}

h3 {
  font-size: var(--step-0);
  font-weight: bold;
}

h4 {
  font-size: var(--step--1);
}
