@import 'global/reset.css';
@import 'global/variables.css';
@import 'global/typography.css';
@import 'global/layout.css';
@import 'global/utilities.css';
@import 'global/global-styles.css';

.show-me {
  background-color: hotpink;
  opacity: 0.5;
  z-index: 999;
}
